# MongoDB Atlas
MONGO_URI=mongodb+srv://POS:prakhar1234@cluster0.1ro9d0m.mongodb.net/posdb?retryWrites=true&w=majority

# Server
SERVER_PORT=8080

# CORS
CORS_ORIGINS=http://localhost:5173,http://localhost:4200

# Spring Profile
SPRING_PROFILES_ACTIVE=dev